 <h1>Home page</h1>


<% content_for :content do %>
  <div id="app"> 
    <% @all_Project.each do |i| %> 
      <div class="wrap d-flex align-items-center">
        <a href="<%= task_path(i)%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= i.name %> </h5>
          <small class="text-muted"><%= i.created_at %> </small>
          </div>
          <p class="mb-1">status = <%= i.status%></p>
          <small class="text-muted">project_id = <%= i.project_id%></small>
        </a> 
          <%= link_to 'add new', new_task_path, ({:class=>"btn btn-sm btn-outline-info "}) %>
          <%= link_to 'edit', edit_task_path(i), ({:class=>"btn btn-sm btn-outline-info "}) %>
          <%= link_to 'del', task_path(i), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-sm btn-outline-info" %>
      </div>
    <% end %>
  </div> 
<% end %>