<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <!-- <h1><%#= tasks_index_path%></h1> -->

    <%= yield :nav %>
    
     <%#= render '/layouts/partials/header.html.erb' %>
     <%#= render :partial => "/partial/header.html.erb" %>
    <div class="container">
      <%= yield  %>
      <%= yield :content %>
    </div>
  </body>
</html>
